@{
    BadGangMinton.Session.SessionManager sm = new BadGangMinton.Session.SessionManager();
    BadGangMinton.DAL.TransactionDal txDal = new BadGangMinton.DAL.TransactionDal();
    BadGangMinton.DAL.LookupDal lDal = new BadGangMinton.DAL.LookupDal();

    var d = lDal.GetPersonLog(sm.UserSession.Person.Id);
}

<div class="container">
    <div class="panel panel-default" style="box-shadow: 0 4px 8px 0 rgb(139, 63, 15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

        <div class="panel-heading">
            <h1 style="color:darkred;font-weight: bold;text-align: center;text-shadow: 2px 2px darkred;">Welcome @sm.UserSession.Person.Fname,</h1>
        </div>

        <div class="panel-body">
            <ul style="list-style:none;text-align:center;line-height:35px;">


                <li>
                    Your Joining Date: <strong>@sm.UserSession.Person.CreatedOn.ToShortDateString()</strong>
                </li>


                @{
                    if (txDal.GetAccountBalance(sm.UserSession.Person.Id) > 0)
                    {
                        <li>
                            Your Account Balance: <span class="glyphicon glyphicon-gbp text-danger">@txDal.GetAccountBalance(sm.UserSession.Person.Id)</span><span class="glyphicon glyphicon-thumbs-up" style="font-size: 20px;color: green;top: 5px;left: 7px;"></span>
                        </li>
                    }
                    else
                    {
                        <li>
                            Your Account Balance: <span class="glyphicon glyphicon-gbp text-danger">@txDal.GetAccountBalance(sm.UserSession.Person.Id)</span><span class="glyphicon glyphicon-thumbs-down" style="font-size: 20px;color: red;top: 5px;left: 7px;"></span>
                        </li>
                    }
                }

                <li>
                    <button class="btn btn-success" onclick="OpenHowToPay();">How to pay?</button>
                </li>

                <li>
                    Your Last Login : @d.Where(x => x.Description == "LOGGED IN SYSTEM").OrderByDescending(o => o.CreatedOn).FirstOrDefault().CreatedOn.ToShortDateString()
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="modal fade" id="HowToPay_Popup" tabindex="-1" role="dialog" aria-labelledby="howtopayModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="howtopayModalLabel">How to pay!</h3>

            </div>
            <div class="modal-body">
                <h4 id="howtopayModalHeading"> Please use below informations to top-up your account</h4>

                <h5>
                    Account Name : Raman P Ranjan | Sort Code : 110001 | Account Number: 08807457
                    <br />
                    OR
                    <br />
                    Paypal ID : ramansuni08@gmail.com
                </h5>
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    function OpenHowToPay() {
        $("#HowToPay_Popup").modal('show');
    }
</script>