@{
    BadGangMinton.Session.SessionManager sm = new BadGangMinton.Session.SessionManager();
    BadGangMinton.DAL.TransactionDal txDal = new BadGangMinton.DAL.TransactionDal();
    BadGangMinton.DAL.LookupDal lDal = new BadGangMinton.DAL.LookupDal();

    var data = txDal.GetAttendanceByPersonId(sm.UserSession.Person.Id).OrderByDescending(o => o.AttendanceDate).Take(10);
}

<div class="container">
    <div class="panel panel-default" style="box-shadow: 0 4px 8px 0 rgb(139, 63, 15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

        <div class="panel-heading">
            <h1 style="color:darkred;font-weight: bold;text-align: center;text-shadow: 2px 2px darkred;">Recent Sessions</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    @foreach (var item in data.OrderByDescending(o => o.AttendanceDate))
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>*@

                            <td>
                                <span class="glyphicon glyphicon-calendar" style="font-size: 20px;"></span>
                            </td>

                            <td>
                                @Html.Raw(item.AttendanceDate.ToShortDateString())
                            </td>

                            <td>
                                @item.AttendanceDate.DayOfWeek
                            </td>

                            <td style="color:darkred;font-weight:bold;">
                                @(sm.UserSession.Person.Fname == item.Person.Fname ? string.Empty : item.Person.Fname)
                            </td>
                        </tr>
                    }

                    <tr>
                        <td colspan="4" style="text-align:right;">
                            @Html.ActionLink("More..", "MyAttendance", "Account")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
