@model BadGangMinton.View.Model.ChangePassword

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}




@using (Html.BeginForm("UpdateMyPassword", "Account", FormMethod.Post, new { ID = "FRM_BGB_CHANGE_PASSWORD", @class = "form-horizontal", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.loginId)
    
    <section id="AddContact">
        <div id="AddContact-here" class="parallax">
            <div class="container">
                <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="row">
                       

                        <div class="col-sm-12" style="box-shadow: inset -20px 17px 100px 0 rgb(247, 202, 24), 0 6px 20px 0 rgb(11, 148, 66);padding:40px;">
                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="margin-top:20px;">
                                    
                                    <div class="heading text-center" style="padding-top:0px;">
                                        <h2 style="color:darkred;">want to change your password?</h2>   
                                        <h6 style="color:green;">@ViewBag.Result</h6>                                    
                                    </div>

                                    <div class="col-sm-12" style="color: darkred;">

                                        <div class="form-group">
                                            
                                            <div class="col-sm-12">
                                                @Html.EditorFor(e => Model.Password, Model.Password, new { htmlAttributes = new { @required = "required", placeholder = "old password", @class = "form-control", @style = "color:darkred;border-color: darkred;margin-left:auto;margin-right:auto;margin-bottom:20px;", maxlength = 20 } })                                                
                                            </div>

                                            <div class="col-sm-12">
                                                @Html.EditorFor(e => Model.NewPassword, Model.NewPassword, new { htmlAttributes = new { @required = "required", placeholder = "new password", @class = "form-control", @style = "color:darkred;border-color: darkred;margin-left:auto;margin-right:auto;margin-bottom:20px;", maxlength = 20 } })                                                
                                            </div>

                                            
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @required = "required", placeholder = "confirm your password", @class = "form-control", @style = "color:darkred;border-color: darkred;margin-left:auto;margin-right:auto;margin-bottom:20px;", maxlength = 20 } })                                                
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        </div>
                                  

                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn-submit" style="width: 50%;margin-left: auto;margin-right: auto;color: darkred;">Save</button>
                                    </div>

                                    <div>
                                        <h6 style="color:darkred;">Regular password changes are theoretically a good idea because they ensure someone can’t acquire your password and use it to snoop on you over an extended period of time.</h6>
                                    </div>
                                </div>

                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



<style>
    div.validation-summary-errors ul li {
        text-align: center;
        color: gold;
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
