@model BadGangMinton.View.Model.RegistrationViewModel
@{
    ViewBag.Title = "Welcome to Badminton Crew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using BadGangMinton.Helpers

<section id="about-us" class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>About us</h2>
                    <p>We are Birmingham based Crew. We are a small but friendly club with about 20 members. We welcome any players of a decent standard.We are currently accepting new members. Why not come along? </p>
                    <p>We meet on sunday evening at <a href='http://www.thebluecoatschool.com/'>The Blue Coat School</a> from 5.00- 6.00p.m.We have three courts in hall.</p>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <p class="lead">Crew Experience</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="95">95%</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <p class="lead">Crew commitments</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p class="lead">Crew Motivations</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="80">80%</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <p class="lead">Fun & Excitements</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Players">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>The Players</h2>
                <p>I never dreamed about being a millionaire - I dreamed about being a badminton player.</p>
            </div>
        </div>
        <div class="team-members">

            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/sabi.png" alt="sabi">
                        </div>
                        <div class="member-info">
                            <h3>Sabi</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/saurabh.png" alt="saurabh">
                        </div>
                        <div class="member-info">
                            <h3>Saurabh</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/abhijeet.jpg" alt="abhijeet">
                        </div>
                        <div class="member-info">
                            <h3>Abhijeet</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/ganesh.jpg" alt="ganesh">
                        </div>
                        <div class="member-info">
                            <h3>Ganesh</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/Hari.jpg" alt="Hari">
                        </div>
                        <div class="member-info">
                            <h3>Hari</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/mallikaarjun.jpg" alt="mallikaarjun">
                        </div>
                        <div class="member-info">
                            <h3>M Arjun</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/manoj.png" alt="manoj">
                        </div>
                        <div class="member-info">
                            <h3>Manoj(Bobby)</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/murali.jpg" alt="murali">
                        </div>
                        <div class="member-info">
                            <h3>Murali</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/praveen.png" alt="praveen">
                        </div>
                        <div class="member-info">
                            <h3>praveen</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/raj.png" alt="raj">
                        </div>
                        <div class="member-info">
                            <h3>Raj</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/raman.jpg" alt="raman">
                        </div>
                        <div class="member-info">
                            <h3>Raman</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/raviA.png" alt="ravia">
                        </div>
                        <div class="member-info">
                            <h3>Ravi A</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/ravi.png" alt="ravi">
                        </div>
                        <div class="member-info">
                            <h3>Ravi</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/sudhir.jpg" alt="sudhir">
                        </div>
                        <div class="member-info">
                            <h3>Sudhir</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/Venkat.jpg" alt="Venkat">
                        </div>
                        <div class="member-info">
                            <h3>Venkat</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/venkat.png" alt="venkat">
                        </div>
                        <div class="member-info">
                            <h3>Venkat</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/vijay.png" alt="Vijay">
                        </div>
                        <div class="member-info">
                            <h3>Vijay</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/vinay.png" alt="vinay">
                        </div>
                        <div class="member-info">
                            <h3>vinay</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/viswa.jpg" alt="viswa">
                        </div>
                        <div class="member-info">
                            <h3>viswa</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <div class="member-image">
                            <img class="img-responsive" src="~/images/team/vinay1.jpg" alt="vinay1">
                        </div>
                        <div class="member-info">
                            <h3>Vinay S</h3>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="joinus">
    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Join Us</h2>
                    <p>To join us, please enter your details</p>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("JoineMe", "Home", FormMethod.Post, new { ID = "FRM_BGB_JOIN_BG", @class = "form-horizontal", @autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label for="FirstName" class="col-sm-2 control-label">First Name</label>
                                        <div class="col-sm-4" style="margin-bottom: 30px;">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "John", @class = "form-control", maxlength = 20 } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @Style = "color:gold;" })
                                        </div>

                                        <label for="LastName" class="col-sm-2 control-label">Last Name</label>
                                        <div class="col-sm-4" style="margin-bottom: 30px;">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "Smith", @class = "form-control", maxlength = 20 } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @Style = "color:gold;" })
                                        </div>
                                    </div>

                                    <div class="form-group">


                                        <label for="PrimaryContactNumber" class="col-sm-2 control-label">Contact Number</label>
                                        <div class="col-sm-4" style="margin-bottom: 30px;">
                                            @Html.EditorFor(model => model.PhoneNumber, new { type = "tel", htmlAttributes = new { @class = "form-control", maxlength = 15 } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @Style = "color:gold;" })
                                        </div>

                                        <label for="PrimaryEmail" class="col-sm-2 control-label">Email Address</label>
                                        <div class="col-sm-4" style="margin-bottom: 30px;">
                                            @Html.EditorFor(model => model.PrimaryEmail, new { htmlAttributes = new { type = "email", placeholder = "johnsmith@hotmail.com", @class = "form-control", maxlength = 50 } })
                                            @Html.ValidationMessageFor(model => model.PrimaryEmail, "", new { @class = "text-danger", @Style = "color:gold;" })

                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <label for="DOB" class="col-sm-2 control-label">Date Of Birth</label>
                                        <div class="col-sm-4" style="margin-bottom: 30px;">
                                            @Html.TextBoxFor(model => model.DateOfBirth, new { @readonly = "readonly", @class = "form-control", @style = "opacity: 0.35;color: gold;background-color: black;" })
                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger", @Style = "color:gold;" })
                                        </div>

                                        <label for="GenderTypeId" class="col-sm-2 control-label">Sex</label>
                                        <div class="col-sm-4" style="margin-bottom: 30px;">
                                            @Html.DropDownListFor(e => Model.Gender, Model.GenderSelectList, new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <button type="submit" class="btn-submit animated infinite pulse">Join Now</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div id="google-map" class="wow fadeIn" data-latitude="52.48307117354579" data-longitude="-1.964083569590468" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Contact Us</h2>
                    <p>To contact us, please either phone us or write to us</p>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">

                    @Html.Partial("_ContactUs", new BadGangMinton.View.Model.SupportViewModel())

                    <div class="col-sm-6">
                        <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <p>
                                If you are interested in playing competitive or social badminton, we cater for both. We are always eager for new visitors and members to join us on a Sunday evening and are looking for men and women to play for our teams in the leagues.
                                For any more information please contact us using the form below or alternatively come down and see us on a Sunday between 04.00pm and 05.00pm during the season.
                            </p>
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i> <span> Address:</span>Hadley Stadium Wilson Rd, Smethwick B66 4NL.</li>
                                <li><i class="fa fa-phone"></i> <span> Phone:</span> +447534963390 </li>
                                <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:social@modizson.com"> info@modizson.com</a></li>
                                <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="http://www.socail.modizson.com">www.social.modizson.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<script type="text/javascript">

    $(function () {
        $("#DateOfBirth").datepicker(
            {
                changeMonth: true,
                dateFormat: "yy/mm/dd",
                changeYear: true,
                inline: true,
                altField: "#datep",
                yearRange: "-55:+0",
            }
        );
    });

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}