@model BadGangMinton.View.Model.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

@using (Html.BeginForm("Validateuser", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", ID = "FRM_BGB_LOGIN" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section id="login">
        <div id="login-here" class="parallax">
            <div class="container">
                <div class="row">
                    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2>Login Here!</h2>
                    </div>
                </div>
                <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        @if (TempData["PasswordReset"] != null)
                                        {
                                            if (bool.Parse(TempData["PasswordReset"].ToString()))
                                            {
                                                <h2 style="text-align:center;color:gold;font-weight:bold;line-height:1.5;">Thank you! Please check your email and follow the instructions to reset your password</h2>
                                            }
                                            else
                                            {
                                                <h2 style="text-align:center;color:red;font-weight:bold;line-height:1.5;">Sorry! Please check your email and username</h2>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Enter Your User Name", maxlength = "15", @class = "form-control", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;", @required = "required", @data_val = "true;" })
                                    </div>

                                    <div class="form-group col-sm-12">
                                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", maxlength = "20", @type = "password", @class = "form-control", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;", @required = "required", @data_val = "true;" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <input type="submit" id="loginBtn" class="btn-submit animated infinite pulse" style="width: 50%;margin-left: auto;margin-right: auto;" value="Login Now" />
                            </div>

                            <div class="form-group col-sm-12" style="text-align:center;">
                                <p style="margin-top:30px;">
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>


                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                                <p style="font-size: 15px; color:red; font-weight: bold; font-style: normal;" id="message">
                                    @ViewBag.Message
                                </p>
                            </div>
                            @Html.ValidationSummary()

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("GetSupport", "Home")
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    //$(document).ready(function () {
    //    $("#loginBtn").click(function () {
    //        $("#message").html("Logging in...");
    //        var data = { "UserName": $("#UserName").val(), "Password": $("#Password").val() };
    //        $.ajax({
    //            url: "/Home/Validateuser",
    //            type: "POST",
    //            data: JSON.stringify(data),
    //            dataType: "json",
    //            contentType: "application/json",
    //            success: function (status) {

    //                if (status.Message != 'Login attempt successful!') {
    //                    $("#message").css("color", "red");
    //                }
    //                else {
    //                    $('#message').css('color', 'green');
    //                }
    //                $("#message").html(status.Message);
    //                if (status.Success) {
    //                    window.location.href = status.TargetURL;
    //                }
    //            },
    //            error: function () {
    //                $("#message").html("Error while authenticating user credentials!");
    //            }
    //        });
    //        return false;
    //    });
    //});

</script>

