@model BadGangMinton.View.Model.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset New Password";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

<div class="container forms">
    @using (Html.BeginForm("ApplySecurityCodeForRestPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { ID = "FRM_BGB_RESETPASSWORD", @class = "form-horizontal", role = "form", @autocomplete = "off" }))
    {
        @Html.HiddenFor(e => e.PersonId)
        @Html.HiddenFor(e => e.SecurityCode)
        @Html.AntiForgeryToken()

        <section id="login">
            <div id="login-here" class="parallax">
                <div class="container">
                    <div class="row">
                        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h2>Password Reset</h2>
                            <h2>Please use you security code sent in earlier email and enter your new password</h2>
                        </div>
                    </div>
                    <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">



                                    <div class="form-group col-sm-12">
                                        @Html.TextBoxFor(m => m.FName, new { @placeholder = "First Name", @readonly = "readonly", maxlength = "50", @class = "form-control", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;" })
                                    </div>

                                    <div class="form-group col-sm-12">
                                        @Html.TextBoxFor(m => m.LName, new { @placeholder = "Middle Name", @readonly = "readonly", maxlength = "50", @class = "form-control", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;" })
                                    </div>


                                    <div class="form-group col-sm-12">
                                        @Html.TextBoxFor(m => m.EmailAddress, new {type="email", @readonly="readonly", maxlength = "50", @class = "form-control", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;" })
                                    </div>

                                  
                            


                                    <div class="form-group col-sm-12">
                                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Choose Password", maxlength = "20", @type = "password", @class = "form-control", @required = "required", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;" })
                                    </div>

                                    <div class="form-group col-sm-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", maxlength = "20", @type = "password", @class = "form-control", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;" })
                                    </div>

                                    <div class="form-group col-sm-12">
                                        @Html.TextBoxFor(m => m.ConfirmSecurityCode, new { @placeholder="Code", maxlength = "50", @class = "form-control", @style = "text-align: center;margin-left: auto;margin-right: auto;background-color:#f7ca18;" })
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <input type="submit" class="btn-submit animated infinite pulse" style="width: 50%;margin-left: auto;margin-right: auto;" value="Confirm Now" />
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                                    <p style="font-size: 15px; color:red; font-weight: bold; font-style: normal;" id="message">
                                        @ViewBag.Message
                                    </p>
                                </div>

                                <div class="col-sm-12 text-center text-danger">
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    

        
               

    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<style>
    div.validation-summary-errors ul li {
        text-align: center;
        color:gold;
    }
</style>